{% extends "base.html" %}

<!-- Title -->
{% block title %} {% endblock %}

<!-- Body -->
{% block content %}

<div class="container">
    <div class="row text-center">
        <h1 class="mt-2">VISUALIZAÇÃO</h1>
        {% if current_user.email == "professor@gmail.com" %}
        <p>Crie atividades <a href="{{ url_for('atividade_turma', turma_id=turma.id) }}">aqui</a></p>
        {% endif %}
    </div>
</div>

<div class="container mt-5">
    <p><b>Turma:</b> {{turma.nome}}</p>

    <div class="mt-5">
        <table class="table">
            <thead>
                <th class="col-3">Número</th>
                <th class="col-9">Nome</th>
                <th class="col-1"></th>
            </thead>

            <tbody>
                {% for linha in atividades %}
                <tr>
                    <td>{{linha.id}}</td>
                    <td>{{linha.nome}}</td>
                    <td>
                        <a class="btn btn-outline-dark" href="{{ url_for('atividade_detalhes', atividade_id=atividade.id) }}">Detalhes</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

</div>

{% endblock %}