{% extends "base.html" %}

<!-- Title -->
{% block title %} Cadastro {% endblock %}

<!-- Body -->
{% block content %}

<div class="container">
    <div class="row text-center">
        <h1 class="mt-2">CADASTRO</h1>
        <p>Faça cadastro</p>
    </div>
</div>

<div class="container">
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="alert alert-{{ category }} alert-dismissible fade show mt-3" role="alert">
                    {{ message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
</div>

<div class="row justify-content-center">
    <div class="col-md-6 col-lg-3 border p-4 mt-4">
        <form method="post" class="border.rounded.p-4.shadow-sm">
            {{ form.csrf_token }}

            <!-- Nome -->
            <div class="mb-3">
                {{ form.nome.label(class="form-label")}}
                {{ form.nome(class="form-control")}}
            </div>

            <!-- Sobrenome -->
            <div class="mb-3">
                {{ form.sobrenome.label(class="form-label")}}
                {{ form.sobrenome(class="form-control")}}
            </div>

            <!-- Email -->
            <div class="mb-3">
                {{ form.email.label(class="form-label")}}
                {{ form.email(class="form-control")}}
            </div>
            
            <!-- Senha -->
            <div class="mb-3">
                {{ form.senha.label(class="form-label")}}
                {{ form.senha(class="form-control")}}
            </div>

            <!-- Confirmar senha -->
            <div class="mb-3">
                {{ form.confirmacao_senha.label(class="form-label")}}
                {{ form.confirmacao_senha(class="form-control")}}
            </div>

            <!-- Enviar -->
            {{ form.btnSubmit(class="btn btn-outline-dark w-100 mt-3")}}

        </form>
        <div class="text-center mt-4">
            <p>Já tem conta? <span><a href="{{url_for('LoginPage')}}">Faça login</a></span></p>
        </div>
    </div>
</div>

{% endblock %}